<?xml version="1.0" encoding="utf-8"?>
<!-- DockPanelSuite generated template; right-side editor uses the full height and bottom logs stop at its left edge. -->
<DockPanel FormatVersion="1.0" DockLeftPortion="0.24" DockRightPortion="0.3" DockTopPortion="0.25" DockBottomPortion="0.22" ActiveDocumentPane="2" ActivePane="-1">
  <Contents Count="5">
    <Content ID="0" PersistString="VMPro.Frm_Job" AutoHidePortion="0.3" IsHidden="False" IsFloat="False" />
    <Content ID="1" PersistString="VMPro.Frm_ToolBox" AutoHidePortion="0.3" IsHidden="False" IsFloat="False" />
    <Content ID="2" PersistString="VMPro.Frm_Output" AutoHidePortion="0.22" IsHidden="False" IsFloat="False" />
    <Content ID="3" PersistString="VMPro.Frm_Monitor" AutoHidePortion="0.22" IsHidden="False" IsFloat="False" />
    <Content ID="4" PersistString="VMPro.Frm_ImageWindow" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" />
  </Contents>
  <Panes Count="3">
    <Pane ID="0" DockState="DockRight" ActiveContent="0">
      <Contents Count="2">
        <Content ID="0" RefID="0" />
        <Content ID="1" RefID="1" />
      </Contents>
    </Pane>
    <Pane ID="1" DockState="DockBottom" ActiveContent="2">
      <Contents Count="2">
        <Content ID="0" RefID="2" />
        <Content ID="1" RefID="3" />
      </Contents>
    </Pane>
    <Pane ID="2" DockState="Document" ActiveContent="4">
      <Contents Count="1">
        <Content ID="0" RefID="4" />
      </Contents>
    </Pane>
  </Panes>
  <DockWindows>
    <DockWindow ID="0" DockState="Document" ZOrderIndex="0">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="2" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="1" DockState="DockLeft" ZOrderIndex="2">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="2" DockState="DockRight" ZOrderIndex="6">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="0" PrevPane="-1" Alignment="Bottom" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
    <DockWindow ID="3" DockState="DockTop" ZOrderIndex="3">
      <NestedPanes Count="0" />
    </DockWindow>
    <DockWindow ID="4" DockState="DockBottom" ZOrderIndex="4">
      <NestedPanes Count="1">
        <Pane ID="0" RefID="1" PrevPane="-1" Alignment="Right" Proportion="0.5" />
      </NestedPanes>
    </DockWindow>
  </DockWindows>
  <FloatWindows Count="0" />
</DockPanel>
